@model TeamStore.DevUI.ViewModels.ArchivePasswordViewModel

@{
    ViewData["Title"] = "Archive Credential";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Archive Credential</h2>
<h4>Project - @Model.ProjectTitle</h4>
<h4>Credential - @Model.AssetTitle</h4>
<hr />
<h3>Are you sure you want to archive this credential?</h3>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ArchiveCredential">
            @Html.HiddenFor(m => m.ProjectId)
            @Html.HiddenFor(m => m.AssetId)
            <div class="form-group">
                <input type="submit" value="Yes, Archive the Credential" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
