@model TeamStore.ViewModels.AccessChangeProjectViewModel
@{
    ViewData["Title"] = "Create";
}
<h2>Share Project</h2>
<h4>Share with:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Share">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="Role" asp-items="Html.GetEnumSelectList<TeamStore.Keeper.Enums.Role>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Role" class="text-danger" />
            </div>
            <div class="form-group">
                <input type="submit" value="Share" class="btn btn-default" />
            </div>
            @Html.HiddenFor(m => m.ProjectId)
        </form>

        @if (Model.Result == false)
        {
            <div class="alert-warning">
                @Model.Details
            </div>
        }
        else if (Model.Result == true)
        {
            <div>
                The identity @Model.Details was successfully added.
            </div>
        }
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
