@model TeamStore.ViewModels.ShareProjectViewModel
@{
    ViewData["Title"] = "Create";
}
<h2>Share Project</h2>
<h4>Share with:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Share">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ShareDetails" class="control-label"></label>
                <input asp-for="ShareDetails" class="form-control" />
                <span asp-validation-for="ShareDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Share" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
