body
{
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content
{
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p
{
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* QR code generator */
#qrCode
{
    margin: 15px;
}

.ob-pointer
{
    cursor: pointer;
}

.ob-copyIcon
{
    padding: 0;
    background: none;
    border: none;
}

ul.dropdown-menu.invisible-asset-holder {
    display: none;
}

ul.dropdown-menu {
    display: block;
    max-height: 150px;
    overflow: auto;
}

.loader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid blue;
    border-bottom: 6px solid blue;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.top-buffer {
    margin-top: 7px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.ob-relative-cell
{
    position: relative;
}

.ob-copyTooltip
{
    position: absolute;
    right: -5px;
    top: -5px;
    border: solid 1px #000;
    border-radius: 10px;
    background-color: #39d84a;
    padding: 5px;
    z-index: 1000;
}



/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px)
{
    /* Hide captions */
    .carousel-caption
    {
        display: none;
    }
}
