@model TeamStore.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-9">
        <h2>Your Projects</h2>
        <ul>
            @if (Model.Projects.Count == 0)
            {
                <li>You do not have access to any projects.</li>
            }

            @foreach (var project in Model.Projects)
            {
                <li>
                    <a asp-controller="Projects" asp-action="Details" asp-route-id="@project.Id">@project.Title</a>
                </li>
            }
        </ul>
    </div>
    <div class="col-md-3">
        <div class="dropdown" id="assetSearchAutocomplete">
            <input class="dropdown-toggle form-control" type="text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" placeholder="Search assets" />           
            <ul class="dropdown-menu invisible-asset-holder" aria-labelledby="dropdownMenu1"></ul>
        </div>       
    </div>
    <div class="col-md-1">
        <div class="loader" style="display: none;"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>To clone and contribute:</h2>
        <p>
            git clone https://github.com/OneBitSoftware/TeamStore.git
        </p>
        <p>
            GitHub Reporitory Address: <a href="https://github.com/onebitsoftware/TeamStore">https://github.com/onebitsoftware/TeamStore</a>
        </p>
    </div>
</div>
