@model TeamStore.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Your Projects</h2>
        <ul>
            @if (Model.Projects.Count == 0)
            {
                <li>You do not have access to any projects.</li>
            }

            @foreach (var project in Model.Projects)
            {
                <li>
                    <a asp-controller="Projects" asp-action="Details" asp-route-id="@project.Id">@project.Title</a>
                </li>
            }
        </ul>
    </div>
    <div>
        <h2>To clone and contribute:</h2>
        <p>
            git clone https://github.com/OneBitSoftware/TeamStore.git
        </p>
    </div>
</div>
